@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

/* colors.css */
/* styles/globals.css or index.css */
:root {
  --primary-orange: #FF991C;
  --secondary-orange: #FF5C00;
  --white: #ffffff;
  --black: #000000;
  --black-opacity-50: rgba(0, 0, 0, 0.5);
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --green-400: #4ade80;
}

body, html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}